@model List<Product>
<partial name="Carousel" model="Model" />
<h2>Prefered Products Of Week</h2>
<h4>Clients Prefered - Just For You!</h4>
<partial name="ListPartial" model="Model" />





















@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
