@model Order
<h2 class="text-primary">
	Create Order
</h2>
<hr />
<form asp-action="CheckOut" asp-controller="Order" method="post">
	<div asp-validation-summary="All"></div>
	<div>
		<label asp-for="Fname" style="font-weight: bold;"></label>
		<input asp-for="Fname" class="form-control" />
		<span asp-validation-for="Fname" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="Lname" style="font-weight: bold;"></label>
		<input asp-for="Lname" class="form-control" />
		<span asp-validation-for="Lname" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="Address" style="font-weight: bold;"></label>
		<input asp-for="Address" class="form-control" />
		<span asp-validation-for="Address" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="City" style="font-weight: bold;"></label>
		<input asp-for="City" class="form-control" />
		<span asp-validation-for="City" class="text-danger"></span>
	</div>

	<input type="submit" value="Create Order" class="btn-btn-primary" style="background-color: blue; color: white;" />
</form>
<hr />
@* <form action="/Reader/Index" method="post">
	<button style="background-color: blue; color: white;">GO To List</button>
</form> *@
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
